header>h1 {
    font-family:'Times New Roman', Times, serif;
}
footer {
    border-top: #bbb 2px solid;
    font-family: 'Raleway', sans-serif;
}
.descripciones{
    font-size: 1rem;
    font-style: italic;
    color:black;
}
.descripcionesS{
    font-size: 1rem;
    font-style: italic;
    color:grey;
    margin-left: 20px;
}
.infoNosotros {
    color: blue;
}
.productos {
    font-style: italic;
    font-size:  1.125rem;

}
.historia {
    font-size: 24px;
}
.historiaDiv {
    border-radius: 15px;
    background-color:#b7e4c7;
    box-shadow: 1px 1px 7px grey;
}
ol {
    list-style: disc;
}
.BotonesIndex {
   box-shadow:  2px 2px 10px black;
}
.fuenteContacto {
    font-family: 'Raleway';
}